body {
    padding: 0;
    margin: 0;
    background-color: grey;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.header {
    display: flex;
    gap: 8px;
    font-size: 3rem;
    font-weight: 800;
    background-color: rgb(31, 30, 30);
    width: 100%;
    padding-block: 1%;
    align-items: center;
}

#logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(17deg) brightness(104%) contrast(102%);
    max-width: 10vh;
    height: auto;
    margin-left: 2%;
}

.app-contents{
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 30, 30);
    border-radius: 24px;
    height: 440px;
    width: 600px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 4%;
    border-radius: 12px;
    padding-block: 24px;
    padding-inline: 34px;
}

.input-city-name, .search-btn {
    font-size: 18px;
    border-radius: 8px;
}

.input-city-name {
    width: 50%;
    font-size: 18px;
    padding-block: 4px;
    padding-left: 8px;
}

.search-btn{
    padding-inline: 30px;
    border: solid 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.search-btn:hover{
    background-color: rgb(48, 46, 46);
    color: rgb(255, 255, 255);
}

#weather-item {
    color: black;
    background-color: white;
    margin-inline: 10%;
    padding-top: 2.5%;
    padding-left: 6%;
    border-radius: 8px;
    height: 65%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(31, 30, 30);
    color: white;
    text-align: center;
    padding-block: 8px;
  }

.footer > a {
    text-decoration: none;
}

.footer > a:hover {
    font-weight: bold;
}

.footer > a:visited {
    color: white;
    font-style: italic;
}